extends ../components/header.pug

block content
  h1= "Welcome to the Sign Up Page"
  
  p= message
  - 
    if (message.length > 0) {
      div
        message= message
      }
  
  form(action="/auth/signup" method="POST")
    div
      label= "Email"
      input(type="text" name="email")
    div
      label= "Password"
      input(type="password" name="password")  
    button(type="submit") Sign Up
  
  p Already have an account? #[a(href="/auth/login") Login]
